<footer>
    <div id="footer-content">

       <p>Powered by <a href="https://nodejs.org/en/about/" target="_blank">Node js</a> & <a href="http://expressjs.com/" target="_blank">Express</a> </p>


    </div>
</footer>